
.theme-default {
  --color-background: #FAFAFA;
  --color-foreground: #E4E5F1;
  --color-primary: #D2D3DB; 
  --color-accent: #565868;
  --color-text: #9394A5;
}

.theme-dark {
  --color-background: #121212;
  --color-foreground: #1E1E1E;
  --color-primary: #C38FFF; 
  --color-accent: #03DAC6;
  --color-text: #DFDFDF;
}

.theme-light {
  --color-background: #FAFAFA;
  --color-foreground: #E4E5F1;
  --color-primary: #D2D3DB; 
  --color-accent: #484B6A;
  --color-text: #9394A5;
}

.theme-pastel {
  --color-background: #F4F3EE;   
  --color-foreground: #E9E1EE;   
  --color-primary: #E5CFE3;      
  --color-accent: #A999BD;       
  --color-text: #5e5e5e;         
}
  
.theme-aqua {
  --color-background: #e0f7fa; 
  --color-foreground: #333333; 
  --color-primary: #4dd0e1;    
  --color-accent: #5ec8d8; 
  --color-text: #DFDFDF;    
}

/* Temas que usam gradient */

.theme-light-gradient{
  --color-foreground: rgba(255, 255, 255, 0.7);
  --color-primary: #6C40BF;
  --color-accent: #00BFA6;
  --color-text: #222222;
  --backdrop-blur: blur(10px);
}  
