
.theme-dark {
  --color-background: #121212;
  --color-foreground: #1E1E1E;
  --color-primary: #C38FFF; 
  --color-accent: #03DAC6;
  --color-text: #DFDFDF;
}

.theme-light-gradient{
  /* Mantém as cores padrão */
  --color-foreground: rgba(255, 255, 255, 0.7);
  --color-primary: #6C40BF;
  --color-accent: #00BFA6;
  --color-text: #222222;
  --backdrop-blur: blur(10px);
}


.theme-pastel {
  --color-background: #fdf9f3;
  --color-foreground: #4d4d4d;
  --color-primary: #d9a7f2;   
  --color-accent: #f5c07a; 
  --color-text: #DFDFDF;   
}
  
.theme-aqua {
  --color-background: #e0f7fa; 
  --color-foreground: #333333; 
  --color-primary: #4dd0e1;    
  --color-accent: #5ec8d8; 
  --color-text: #DFDFDF;    
}

  
